h1 {
    color: royalblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:3em;
    background-color: lightgoldenrodyellow;
    margin: 1%;
    padding: 3%;
    background-image: linear-gradient(to bottom right, lightgoldenrodyellow,rgb(252, 252, 178), lightsteelblue );
    box-shadow: 5px 5px 3px #a5a2a2;

    
}

h1:hover {
    transform: rotateY(180deg);
}

p {
    color: plum;
    border-style: dashed;
    border-width: 2px;
    background-color: lightsteelblue;
}

h2 {
color: rgb(85, 206, 160);
border-style: solid;
border-width: 1px;
border-color: darkgreen;
font-size:1.2em; 
background-color: rgb(200, 255, 252);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
padding: 1%;
border-radius: 15px;
}
h2:hover {
    transform: translateX(20px);
}

a {
    font-style: oblique;
    border: ridge;
    border-width: 3px;
    border-color: cornflowerblue;
}
Body {
    background-color: rgb(189, 218, 238);
    animation-name: hi;
    animation-duration: 4s;

}
@keyframes hi{
    from {background-color:rgb(235, 235, 198)}
    to {background-color:rgb(189, 218, 238)}
}
img {
    border-style: initial;
    border-width:2px;
    
}

div h1 {
    width: 300px;
    transition: width 2s;
    transition-duration: 2s;
  }
  img:hover {
    transform: rotate(720deg);
    transition-duration: 8s;
    
    /* transform: translate(50px,100px); */
  }


  


